In [51]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt

In [52]:
df = pd.read_csv('./data.csv',sep=',')
df = df.drop_duplicates()
df = df.dropna(how='any')

In [53]:
print(df.shape)

(96121, 7)

In [54]:
data_index = df.index
data_column = df.columns
data_index
data_column

Index(['timestamp', ' left_x', ' left_y', ' left_d', ' right_x', ' right_y',
       ' right_d'],
      dtype='object')

In [55]:
new_index = []
for u in data_column:
    u=u.strip()
    new_index.append(u)
df.columns = new_index
df

           timestamp left_x left_y left_d right_x right_y right_d
0       1.638700e+09   None   None   None    None    None    None
1       1.638700e+09   None   None   None    None    None    None
3       1.638700e+09   None   None   None    None    None    None
4       1.638700e+09   None   None   None    None    None    None
14      1.638700e+09   None   None   None    None    None    None
...              ...    ...    ...    ...     ...     ...     ...
103233  1.638701e+09   None   None   None    None    None    None
103234  1.638701e+09   None   None   None    None    None    None
103235  1.638701e+09   None   None   None    None    None    None
103245  1.638701e+09   None   None   None    None    None    None
103246  1.638701e+09   None   None   None    None    None    None

[96121 rows x 7 columns]

In [56]:
df = df[(df['left_x']!='None') & (df['left_y']!='None') & (df['right_d']!='None') & (df['right_x']!='None') & (df['right_y']!='None')]

In [57]:
df.to_csv('out.csv',index=False)